body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.heart {
    color: #ff0000;
}

.small {
    font-size: 0.75rem;
}

/* Styles for the Weight Tracker Form */
.weight-tracker-form form {
    margin-top: 20px;
}

.weight-tracker-form input,
.weight-tracker-form button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.weight-tracker-form button {
    cursor: pointer;
    background-color: #61dafb;
    color: #282c34;
}

/* Styles for the Weight Entries List */
.weight-entries {
    margin-top: 20px;
}

.weight-entries h2 {
    color: #61dafb;
}

.weight-entries ul {
    list-style-type: none;
    padding: 0;
}

.weight-entries li {
    margin: 5px 0;
    color: #FFF; /* Keeps the text color white for readability */
}
